
@Model Damacana.Models.Product

<body style="background-image:url(http://img0.mxstatic.com/wallpapers/112e4ab8c5074372011bcd4aa862ee2c_large.jpeg)">


    <br />
    <br />

    <h4 style="color:antiquewhite">This Product Added Your Cart  <span class="label label-success"> @Model.Name</span></h4>
   
        <ul class="pager">
            <li><a href="@Url.Action("Index","Products")">Alışverişe Devam Et</a></li>
        </ul>
    
</body>