@Model Damacana.Models.Product
<body style="background-image:url(http://img0.mxstatic.com/wallpapers/112e4ab8c5074372011bcd4aa862ee2c_large.jpeg)">
    <br />
    <h3> Product Changed <span class="label label-success"> @Model.Name</span></h3>
    <br />
    <nav>
        <ul class="pager">
            <li><a href="@Url.Action("Index")">Ana Sayfaya Dön</a></li>
        </ul>
    </nav>
</body>