@using Damacana.Models
@model Purchase
<body style="background-image:url(http://img0.mxstatic.com/wallpapers/112e4ab8c5074372011bcd4aa862ee2c_large.jpeg)">
    <br />
    <h3 style="color:antiquewhite">Purchase Pay</h3>
    <br />

    <table style="width:30%">
        <tr>
            <td>
                <div class="alert alert-success" role="alert">
                    <h4 class="media-heading">Prix: @Model.TotalPrice TL</h4>
                    <br />
                    <a class="btn btn-info" href="@Url.Action("PurchaseDone", "Purchases1")"><b>Buy it!</b></a>
                </div>
            </td>
        </tr>
    </table>
    <nav>
        <ul class="pager">
            <li><a href="@Url.Action("Index","Products")">Home</a></li>
        </ul>

    </nav>
</body>