<?xml version="1.0"?>

      
 
  

<entityFramework>
  <contexts>
    <context type="Damacana.DAL.Products, Damacana">
      <databaseInitializer type="Damacana.DAL.initialbilgi, Damacana" />
    </context>
  </contexts>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="v11.0" />
    </parameters>
  </defaultConnectionFactory>
  <providers>
    <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
  </providers>
</entityFramework>

  
    