@model Damacana.Models.Purchase
@{
    ViewBag.Title = "AddPurchase";
}
<h2>AddPurchase</h2>
@using (Html.BeginForm("SavePurchase", "Home", FormMethod.Post))
{ <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" value="Siparisi bitir" class="btn btn-default" />
        </div>
    </div>}
