@using Damacana.Models;
@model List<Damacana.Models.Product>
@{
    ViewBag.Title = "DeleteProductfromCart";
    }


<div class=" alert alert-success" role="alert"><b> ürün Sepetten Çıkarıldı  </b></div>
<a href="@Url.Action("CartList")"> Go to cart List</a>
