@using Damacana.Models;
@model List<Damacana.Models.Product>
@{
    ViewBag.Title = "DeleteProductfromCart";
}
<h2>DeleteProductfromCart</h2>


<div class=" alert alert-success" role="alert"><b> Product çıkarıldı  </b></div>
<a href="@Url.Action("CartList")"> Go to cart List</a>
