
@using Damacana.Models;
@model List<Damacana.Models.Cart>
@{
    ViewBag.Title = "DeleteCart";
}
<h2>DeleteCart</h2>

<div class=" alert alert-success" role="alert"><b> Cart deleted  </b></div>
<a href="@Url.Action("CartList")"> Go to cart List</a>