@model  Damacana.Models.Product
<h2>Edit Product</h2>
<form action="@Url.Action("SaveModifiedProduct")" method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td>@Html.TextBoxFor(x => x.name, new { @Value = Model.name })</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>@Html.TextBoxFor(x => x.price, new { @Value = Model.price })</td>
        </tr>
    </table>
    <p>
        <button type="submit" value="Save">Save</button>
    </p>
</form>