


<body style="background-image:url(http://img0.mxstatic.com/wallpapers/112e4ab8c5074372011bcd4aa862ee2c_large.jpeg)">



    <h1 style="color:white;"> WELCOME TO Damacana.com </h1> 
    <h3 style="color:white;"> BEST WATER WEBSITE </h3>
    <hr />
    <a class="btn btn-success" href="@Url.Action("Index", "Products")">Start Shopping</a>
    <hr />
    <h4 style="color:white;"> For Your Opinions </h4>
    <h5 style="color:white;"> 0xxx xxx xxxx </h5>
</body>