@using Damacana.Models;
@model List<Damacana.Models.Purchase>
@{
    ViewBag.Title = "PuchaseList";
}

<h2>PuchaseList</h2>

@foreach (Purchase p in Model)
{ @p.Id @p.CreatedOn @p.TotalPrice}


        <div class=" alert alert-success" role="alert"> <b>  Sepet Alındı</b></div>
       
