
@model Damacana.Models.Product
@{
    ViewBag.Title = "SaveProduct";
}



@using (Html.BeginForm("ProductList", "Home", FormMethod.Post))
{<div class=" alert alert-success" role="alert"> <b> Ürün Eklendi </b></div>}
<a href="@Url.Action("ProductList")"> Listeye dönmek icin </a>
