@using damacana.Models



@{
    ViewBag.Title = "siparisitamamla";
}
   
Siparis tamam
<hr>
<a href="@Url.Action("Cart")">
    Ürünlere bak
</a>
<hr>
<a href="@Url.Action("Index")">
    Go To List
</a>